In [1]:
import pandas as pd
import datetime

In [2]:
mega_data = pd.read_csv("final_mega_df.csv")
mega_data.head(25)

/Users/mayareiss/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (85,86,87,89,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_reason,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
5,5,16000.0,16000.0,12.74%,361.93,C,claims analyst,10+ years,MORTGAGE,130000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
6,6,11875.0,11875.0,11.44%,391.26,B,Shop foreman,10+ years,MORTGAGE,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
7,7,3025.0,3025.0,6.99%,93.39,A,Recruiter,10+ years,MORTGAGE,83000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
8,8,9000.0,9000.0,11.39%,296.32,B,SUPERINTENDANT,10+ years,MORTGAGE,60000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
9,9,12000.0,12000.0,6.99%,370.48,A,signmaker/waterjet,10+ years,MORTGAGE,56000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10,10,5000.0,5000.0,25.49%,200.10,E,Pilot,10+ years,MORTGAGE,215000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11,11,10000.0,10000.0,7.49%,311.02,A,Line worker,3 years,RENT,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
12,12,4800.0,4800.0,6.99%,148.19,A,Program Manager,1 year,RENT,160000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
13,13,16000.0,16000.0,18.99%,586.42,D,sales merchandiser,10+ years,RENT,41000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
14,14,2000.0,2000.0,16.99%,71.30,D,Supervisor,6 years,MORTGAGE,62000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
15,15,20000.0,20000.0,5.32%,602.30,A,Associate Dentist,3 years,RENT,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
16,16,16000.0,16000.0,12.74%,361.93,C,NaN,10+ years,MORTGAGE,72000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
17,17,13000.0,13000.0,11.44%,428.32,B,Accounts Payable Coordinator,10+ years,RENT,54500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
18,18,10000.0,10000.0,11.49%,329.72,B,General manager,10+ years,OWN,145000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
19,19,14000.0,14000.0,15.99%,492.13,C,Project Leader,10+ years,MORTGAGE,82000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
20,20,35000.0,35000.0,19.99%,1300.55,D,PROFESSOR,10+ years,MORTGAGE,80000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
21,21,14000.0,14000.0,12.74%,316.69,C,Specialty Sales,4 years,OWN,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
22,22,7100.0,7100.0,11.39%,233.76,B,NaN,NaN,RENT,32160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
23,23,6800.0,6800.0,13.49%,230.73,C,Mechanic,< 1 year,RENT,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
24,24,14400.0,14400.0,10.49%,467.97,B,Property Manager,6 years,MORTGAGE,130000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [39]:
list(mega_data.columns)

['ID',
 'loan_amnt',
 'funded_amnt',
 'int_rate',
 'installment',
 'grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'issue_d',
 'loan_status',
 'desc',
 'purpose',
 'title',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'total_pymnt',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'max_bal_bc',
 'total_rev_hi_lim',
 'inq_fi',
 'inq_last_12m',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_30dpd',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_revol_util',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_amount',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status']

In [69]:
#issue_d is a string, want to change to datetime format
#first, a dictionary comparing the string of month names to their numerical value

months = {
        'Jan' : 1,
        'Feb' : 2,
        'Mar' : 3,
        'Apr' : 4,
        'May' : 5,
        'Jun' : 6,
        'Jul' : 7,
        'Aug' : 8,
        'Sep' : 9, 
        'Oct' : 10,
        'Nov' : 11,
        'Dec' : 12
}

#save in separate field, and split to two columns
temp = mega_data['issue_d']
temp.str.split('-')
new = mega_data['issue_d'].str.split("-", n = 1, expand = True) 

#change to numerical value and save as Integers
new[0]= new[0].map(months) 
new[1]= new[1].astype(int)

# new['issue_d']= pd.to_datetime(new['issue_d'])
# # new.info()

In [70]:
#change Year value to full numerical year by adding 2000
new[1] = 2000 + new[1]
dates = new
dates

         0     1
0        3  2017
1        3  2017
2        3  2017
3        3  2017
4        3  2017
5        3  2017
6        3  2017
7        3  2017
8        3  2017
9        3  2017
10       3  2017
11       3  2017
12       3  2017
13       3  2017
14       3  2017
15       3  2017
16       3  2017
17       3  2017
18       3  2017
19       3  2017
20       3  2017
21       3  2017
22       3  2017
23       3  2017
24       3  2017
25       3  2017
26       3  2017
27       3  2017
28       3  2017
29       3  2017
...     ..   ...
1456898  4  2017
1456899  4  2017
1456900  4  2017
1456901  4  2017
1456902  4  2017
1456903  4  2017
1456904  4  2017
1456905  4  2017
1456906  4  2017
1456907  4  2017
1456908  4  2017
1456909  4  2017
1456910  4  2017
1456911  4  2017
1456912  4  2017
1456913  4  2017
1456914  4  2017
1456915  4  2017
1456916  4  2017
1456917  4  2017
1456918  4  2017
1456919  4  2017
1456920  4  2017
1456921  4  2017
1456922  4  2017
1456923  4  2017
1456924  4  2017
1456925  4  2017
1456926  4  2017
1456927  4  2017

[1456928 rows x 2 columns]

In [71]:
#rename columns
dates.rename(columns = {0: 'Month', 1: 'Year'}, inplace = True)

#convert to datetime format
dates['Full Date'] = pd.to_datetime(dates.assign(Day=1).loc[:, ['Year','Month','Day']])

#add column that just shows Year/Month values, as Day value doesn't matter
dates['issue_dates']= pd.to_datetime(dates['Full Date']).dt.to_period('M')
dates

         Month  Year  Full Date issue_dates
0            3  2017 2017-03-01     2017-03
1            3  2017 2017-03-01     2017-03
2            3  2017 2017-03-01     2017-03
3            3  2017 2017-03-01     2017-03
4            3  2017 2017-03-01     2017-03
5            3  2017 2017-03-01     2017-03
6            3  2017 2017-03-01     2017-03
7            3  2017 2017-03-01     2017-03
8            3  2017 2017-03-01     2017-03
9            3  2017 2017-03-01     2017-03
10           3  2017 2017-03-01     2017-03
11           3  2017 2017-03-01     2017-03
12           3  2017 2017-03-01     2017-03
13           3  2017 2017-03-01     2017-03
14           3  2017 2017-03-01     2017-03
15           3  2017 2017-03-01     2017-03
16           3  2017 2017-03-01     2017-03
17           3  2017 2017-03-01     2017-03
18           3  2017 2017-03-01     2017-03
19           3  2017 2017-03-01     2017-03
20           3  2017 2017-03-01     2017-03
21           3  2017 2017-03-01     2017-03
22           3  2017 2017-03-01     2017-03
23           3  2017 2017-03-01     2017-03
24           3  2017 2017-03-01     2017-03
25           3  2017 2017-03-01     2017-03
26           3  2017 2017-03-01     2017-03
27           3  2017 2017-03-01     2017-03
28           3  2017 2017-03-01     2017-03
29           3  2017 2017-03-01     2017-03
...        ...   ...        ...         ...
1456898      4  2017 2017-04-01     2017-04
1456899      4  2017 2017-04-01     2017-04
1456900      4  2017 2017-04-01     2017-04
1456901      4  2017 2017-04-01     2017-04
1456902      4  2017 2017-04-01     2017-04
1456903      4  2017 2017-04-01     2017-04
1456904      4  2017 2017-04-01     2017-04
1456905      4  2017 2017-04-01     2017-04
1456906      4  2017 2017-04-01     2017-04
1456907      4  2017 2017-04-01     2017-04
1456908      4  2017 2017-04-01     2017-04
1456909      4  2017 2017-04-01     2017-04
1456910      4  2017 2017-04-01     2017-04
1456911      4  2017 2017-04-01     2017-04
1456912      4  2017 2017-04-01     2017-04
1456913      4  2017 2017-04-01     2017-04
1456914      4  2017 2017-04-01     2017-04
1456915      4  2017 2017-04-01     2017-04
1456916      4  2017 2017-04-01     2017-04
1456917      4  2017 2017-04-01     2017-04
1456918      4  2017 2017-04-01     2017-04
1456919      4  2017 2017-04-01     2017-04
1456920      4  2017 2017-04-01     2017-04
1456921      4  2017 2017-04-01     2017-04
1456922      4  2017 2017-04-01     2017-04
1456923      4  2017 2017-04-01     2017-04
1456924      4  2017 2017-04-01     2017-04
1456925      4  2017 2017-04-01     2017-04
1456926      4  2017 2017-04-01     2017-04
1456927      4  2017 2017-04-01     2017-04

[1456928 rows x 4 columns]

In [72]:
#merge issue_dates into mega_data and remove issue_d column

mega_data['issue_date']= dates['issue_dates']

mega_data.head()

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,issue_date
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2017-03
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2017-03
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2017-03
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2017-03
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2017-03

In [73]:
mega_data.to_csv('mega_data_MR.csv',index=False)

In [74]:
maya_data = mega_data[['ID', 'loan_amnt', 'funded_amnt','int_rate','installment','grade',
                       'issue_date','loan_status','purpose','fico_range_low','fico_range_high',
                      'home_ownership','annual_inc','emp_title','addr_state','dti',
                       'initial_list_status','total_pymnt','total_rec_prncp','total_rec_int']]

In [76]:
maya_data.to_csv('graph_data.csv',index=False)